/* --------------------------------------------------------
Common elements
version: 1.3
Creation: 06-June-2017
author: Nirmal Krishna Venkatraman
email: nirmal.k@orioninc.com
----------------------------------------------------------*/
html {
    background-color: #f0f0f0;
}

body {
    color: #333333;
}

a {
    text-decoration: none;
    color: #005EB8;
}

    a:visited, a:hover {
        color: #005EB8;
    }

    a:hover {
        text-decoration: underline;
    }

.font-bold {
    font-weight: bold;
}

.fa {
    cursor: pointer;
}

.common-button {
    background-color: transparent;
    border: 0;
}

    .common-button:hover {
        text-decoration: underline;
    }
/*Border*/
.border-common-grey {
    border-color: #828282 !important;
}

.border-common-blue {
    border-color: #00338D;
}

.border-medium-blue {
    border-color: #005EB8;
}

.border-light-blue {
    border-color: #0091DA;
}

/*Secondary*/
.border-violet {
    border-color: #483698;
}

.border-purple {
    border-color: #470A68;
}

.border-light-purple {
    border-color: #6D2077;
}

.border-green {
    border-color: #00A3A1;
}

/*Tertiary*/
.border-dark-green {
    border-color: #009A44;
}

.border-light-green {
    border-color: #43B02A;
}

.border-yellow {
    border-color: #EAAA00;
}

.border-orange {
    border-color: #F68D2E;
}

.border-red {
    border-color: #BC204B;
}

.border-pink {
    border-color: #C6007E;
}
/*font color*/
/*Primary*/
.font-333 {
    color: #333333 !important;
}

.font-grey {
    color: #828282 !important;
}

.font-common-blue {
    color: #00338D;
}

.font-medium-blue {
    color: #005EB8;
}

.font-light-blue {
    color: #0091DA;
}

/*Secondary*/
.font-violet {
    color: #483698;
}

.font-purple {
    color: #470A68;
}

.font-light-purple {
    color: #6D2077;
}

.font-green {
    color: #00A3A1;
}

/*Tertiary*/
.font-dark-green {
    color: #009A44;
}

.font-light-green {
    color: #43B02A;
}

.font-yellow {
    color: #EAAA00;
}

.font-orange {
    color: #F68D2E;
}

.font-red {
    color: #BC204B;
}

.font-pink {
    color: #C6007E;
}
.font-fff {
    color: #ffffff;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.handle-overflow {
    clear: both;
    overflow: auto;
    
}

.padding-0 {
    padding: 0px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.padding-right-0 {
    padding-right: 0px;
}

.margin-0 {
    margin: 0px !important;
}
.margin-5-0 {
    margin: 5px 0;
}

.margin-top-0 {
    margin-top: 0px;
}
.padding-top-0 {
    padding-top: 0px;
}
.padding-bottom-0 {
    padding-bottom: 0px;
}
