/* --------------------------------------------------------
KPMG styles
version: 1.0
Creation: 05-09-2016
author: Nirmal Krishna Venkatraman
email: nirmal.k@orioninc.com
----------------------------------------------------------*/
html {
    background-color: #f0f0f0;
}

body {
    color: #333333;
}

a {
    text-decoration: none;
    color: #005EB8;
}

    a:visited, a:hover {
        color: #005EB8;
    }

    a:hover {
        text-decoration: underline;
    }

.kpmg-button {
    background-color: transparent;
    border: 0;
}

    .kpmg-button:hover {
        text-decoration: underline;
    }
/*Border*/
.border-kpmg-blue {
    border-color: #00338D;
}

.border-medium-blue {
    border-color: #005EB8;
}

.border-light-blue {
    border-color: #0091DA;
}

/*Secondary*/
.border-violet {
    border-color: #483698;
}

.border-purple {
    border-color: #470A68;
}

.border-light-purple {
    border-color: #6D2077;
}

.border-green {
    border-color: #00A3A1;
}

/*Tertiary*/
.border-dark-green {
    border-color: #009A44;
}

.border-light-green {
    border-color: #43B02A;
}

.border-yellow {
    border-color: #EAAA00;
}

.border-orange {
    border-color: #F68D2E;
}

.border-red {
    border-color: #BC204B;
}

.border-pink {
    border-color: #C6007E;
}
/*font color*/
/*Primary*/
.font-kpmg-blue {
    color: #00338D;
}

.font-medium-blue {
    color: #005EB8;
}

.font-light-blue {
    color: #0091DA;
}

/*Secondary*/
.font-violet {
    color: #483698;
}

.font-purple {
    color: #470A68;
}

.font-light-purple {
    color: #6D2077;
}

.font-green {
    color: #00A3A1;
}

/*Tertiary*/
.font-dark-green {
    color: #009A44;
}

.font-light-green {
    color: #43B02A;
}

.font-yellow {
    color: #EAAA00;
}

.font-orange {
    color: #F68D2E;
}

.font-red {
    color: #BC204B;
}

.font-pink {
    color: #C6007E;
}
